<ion-view>
  <ion-nav-title>
    <img src="img/logo.png">
    <span>Login</span>
  </ion-nav-title>
  <ion-content class="padding">
    <form name="loginForm" novalidate="" ng-submit="doLogin(params.email, params.password)">
      <ion-list>
        <div class="row">
          <div class="col-25"></div>
          <div class="col-75 form-error">
            <div ng-show="showError" class="fadein fadeout">
              Your login information was invalid.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-25"></div>
          <div class="col-75 form-error" ng-messages="loginForm.email.$error">
            <div ng-message="required">Please enter your email.</div>
            <div ng-message="email">Please enter a valid email address.</div>
          </div>
        </div>
        <div class="row">
          <div class="col-25"><label for="email">Email:</label></div>
          <div class="col-75"><input type="email" class="form-control" name="email"
                                     ng-model="params.email" required></div>
        </div>
        <div class="row">
          <div class="col-25"></div>
          <div class="col-75 form-error" ng-messages="loginForm.password.$error">
            <div ng-message="required">Please enter your password.</div>
          </div>
        </div>
        <div class="row">
          <div class="col-25"><label for="password">Password:</label></div>
          <div class="col-75"><input type="password" class="form-control" name="password"
                                     ng-model="params.password" required></div>
        </div>
        <div class="row">
          <div class="col-25"></div>
          <div class="col-75">
            <button type="submit" class="button button-positive">Login</button>
          </div>
        </div>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
