form {
    margin-top: 10px;
}

form div {
    padding-bottom: 12px;
}

label {
    font-weight: bold;
    line-height: 46px;
}

input[type="email"], input[type="password"] {
    display: inline;
    border: 1px #C0C0C0 solid;
    padding: 0 12px;
    height: 46px;
    width: 220px;
}

.form-error {
    padding: 4px 0px;
    color: red;
}

.nav-bar-title {
    width: 100%;
}

.nav-bar-title img {
    float: left;
    padding-top: 2px;
    padding-right: 10px;
}

.nav-bar-title span {
    text-align: center;
}

.day-count {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 2px;
    color: grey;
}

.fc-toolbar {
    margin-bottom: 2px;
    text-align: center;
}
